<main
  class="bg-gray-50 h-screen w-screen flex flex-col items-center justify-center px-4">
  <div
    class="bg-white p-4 rounded-md min-w-[250px] max-w-[600px] w-full flex flex-col gap-y-4 shadow-md">
    <h2 class="text-center text-2xl font-semibold">Register Form</h2>
    <form
      (ngSubmit)="submit()"
      [formGroup]="registerForm"
      class="flex flex-col gap-y-5"
      autocomplete="off">
      <!-- username -->
      <div class="flex flex-col gap-2 items-start relative">
        <label class="text-sm" for="name">Name</label>
        <input
          type="text"
          id="name"
          class="rounded-md w-full"
          formControlName="userName" />
        <span
          data-id="fullname-error"
          *ngIf="userName?.touched && userName?.hasError('required')"
          class="text-sm text-red-500 font-semibold">
          The field is required
        </span>
      </div>
      <!-- email -->
      <div class="flex flex-col gap-2 items-start relative">
        <label class="text-sm" for="email">Email</label>
        <input
          type="email"
          id="email"
          class="rounded-md w-full"
          formControlName="email" />
        <span
          *ngIf="email?.touched && email?.hasError('required')"
          class="text-sm text-red-500 font-semibold">
          The field is required
        </span>
        <span
          data-id="email-repeat"
          *ngIf="email?.touched && email?.hasError('email_not_avaiable')"
          class="text-sm text-red-500 font-semibold">
          The email already exists
        </span>
      </div>
      <!-- gender -->
      <div class="flex flex-col gap-2 items-start relative">
        <label class="text-sm" for="gender">Gender</label>
        <select formControlName="gender" id="gender" class="rounded-md w-full">
          <option selected disabled>Choose a option</option>
          <option value="F">Famale</option>
          <option value="M">Male</option>
          <option value="O">Other</option>
        </select>
        <span
          data-id="gender-required"
          *ngIf="gender?.touched && gender?.hasError('required')"
          class="text-sm text-red-500 font-semibold">
          The field is required
        </span>
      </div>
      <!-- Password -->
      <div class="flex flex-col gap-2 items-start relative">
        <label class="text-sm" for="password">Password</label>
        <input
          type="password"
          id="password"
          class="rounded-md w-full"
          formControlName="password" />
        <span
          *ngIf="password?.touched && password?.hasError('required')"
          class="text-sm text-red-500 font-semibold">
          The field is required
        </span>
        <span
          data-id="password-number"
          *ngIf="password?.touched && password?.hasError('containsNumber')"
          class="text-sm text-red-500 font-semibold">
          The password must contain at least one number
        </span>

        <span
          data-id="password-dont-match"
          *ngIf="password?.touched && password?.hasError('no_match')"
          class="text-sm text-red-500 font-semibold">
          The passwords do not match
        </span>
      </div>
      <!-- confirm Password -->
      <div class="flex flex-col gap-2 items-start relative">
        <label class="text-sm" for="confirm-password">Confirm password</label>
        <input
          type="password"
          id="confirm-password"
          class="rounded-md w-full"
          formControlName="confirmPassword" />
        <span
          *ngIf="
            confirmPassword?.touched && confirmPassword?.hasError('required')
          "
          class="text-sm text-red-500 font-semibold">
          The field is required
        </span>
        <span
          data-id="confirmPassword-dont-match"
          *ngIf="
            confirmPassword?.touched && confirmPassword?.hasError('no_match')
          "
          class="text-sm text-red-500 font-semibold">
          The passwords do not match
        </span>
      </div>

      <div class="flex gap-2 items-center relative">
        <input type="checkbox" id="accep-terms" formControlName="accepTerms" />
        <label for="">Aceptar terminos</label>
      </div>

      <div class="flex flex-col justify-end items-end gap-4 md:col-span-2">
        <button
          data-id="btn-submit"
          type="submit"
          class="w-full py-3 px-1.5 rounded-md bg-cyan-500 transition-colors duration-300 hover:text-white hover:bg-cyan-600">
          Crear Usuario
        </button>
      </div>
    </form>

    <div class="text-center my-3">
      <p>
        ¿Ya tienes una cuenta?
        <a routerLink="/auth/login" class="text-amber-500">Login</a>
      </p>
    </div>
  </div>
</main>
