<nav
  class="bg-gray-100 px-4 py-4">
  <ul class="md:h-14 flex items-center flex-col md:flex-row justify-center gap-6">
    <li>
      <a
        class="hover:text-amber-500 text-lg transition-colors duration-300"
        routerLink="movies/list"
        routerLinkActive="text-amber-600">
        Movie List
      </a>
    </li>
    <li>
      <a
        class="hover:text-amber-500 text-lg transition-colors duration-300"
        routerLink="movies/register"
        routerLinkActive="text-amber-600">
        Movie Register
      </a>
    </li>
    <li>
      <a
        class="hover:text-amber-500 text-lg transition-colors duration-300"
        routerLink="imc"
        routerLinkActive="text-amber-600">
        IMC
      </a>
    </li>
  </ul>
</nav>
